@import url('https://fonts.googleapis.com/css?family=Inria+Serif:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.head-nav-bk {    
    background: url("../images/brain.jpg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;    
    padding-left: 100px;
    margin-bottom: 2px;
    margin-top: 0;
}

.foot-nav-bk {    
    background: url("../images/brain.jpg");
    background-position: 75% 85%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 0;
}

.section {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 10vw 30vw 10vw;
    grid-gap: 1em;
}

.photo {
    background: url("../images/drhfj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 820px;
    min-width: 600px;
    background-position: 90% 90%;
    border: solid;
    border-color: black;
    border-width: 2px;
    
}

.logo {
    background: url("../images/ntracslogo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200px;
    min-width: 1260px;        
    
}

.welcome {
    background: url("../images/paper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 3px;
    border: solid;
    border-color: black;
    border-width: 2px;
}

